{% extends 'dashboard/front.html.twig' %}

{% block title %}DossierMedical index{% endblock %}

{% block body %}
    <h1>DossierMedical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Diagnosis</th>
                <th>Test</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_medical in dossier_medicals %}
            <tr>
                <td>{{ dossier_medical.id }}</td>
                <td>{{ dossier_medical.patient }}</td>
                <td>{{ dossier_medical.doctor }}</td>
                <td>{{ dossier_medical.date ? dossier_medical.date|date('Y-m-d') : '' }}</td>
                <td>{{ dossier_medical.diagnosis }}</td>
                <td>{{ dossier_medical.test }}</td>
                <td>
                    <a href="{{ path('app_dossier_medical_show', {'id': dossier_medical.id}) }}">show</a>
                    <a href="{{ path('app_dossier_medical_edit', {'id': dossier_medical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_medical_new') }}">Create new</a>
{% endblock %}
