{# templates/consultation/form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Consultation</h1>

    {{ form_start(form) }}
    {{ form_row(form.idMedecin) }}
    {{ form_row(form.idPatients) }}
    {{ form_row(form.date, {'widget': 'single_text', 'attr': {'class': 'datepicker'}}) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.diagnostique) }}
    {{ form_row(form.recommandations) }}

    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
