{% extends 'base.html.twig' %}

{% block title %}Liste des Consultations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  type="text/css" href="{{ asset('./css.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Liste des Consultations <a href="{{ path('consultation_new') }}" class="btn btn-success">Add</a></h1>

        {% if consultations|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Consultation</th>
                            <th>ID Médecin</th>
                            <th>ID Patient</th>
                            <th>Date</th>
                            <th>Diagnostique</th>
                            <th>Recommandations</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consultation in consultations %}
                            <tr>
                                <td>{{ consultation.id }}</td>
                                <td>{{ consultation.idMedecin }}</td>
                                <td>{{ consultation.idPatients }}</td>
                                <td>{{ consultation.date|date('Y-m-d H:i:s') }}</td>
                                <td>{{ consultation.diagnostique }}</td>
                                <td>{{ consultation.recommandations }}</td>
                                <td>
                                    <a href="{{ path('consultation_edit', {'id': consultation.id}) }}" class="btn btn-primary btn-sm">Update</a>
                                    <form action="{{ path('consultation_delete', {'id': consultation.id}) }}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette consultation?')">
                                            <i class="fa fa-trash"></i> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Aucune consultation disponible.</p>
        {% endif %}
    </div>
{% endblock %}
