{% extends 'base.html.twig' %}

{% block title %}Prescription{% endblock %}

{% block body %}
    <h1>Prescription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prescription.id }}</td>
            </tr>
            <tr>
                <th>Patient</th>
                <td>{{ prescription.patient }}</td>
            </tr>
            <tr>
                <th>Doctor</th>
                <td>{{ prescription.doctor }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ prescription.CreatedAt ? prescription.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Medications</th>
                <td>{{ prescription.medications }}</td>
            </tr>
            <tr>
                <th>Instructions</th>
                <td>{{ prescription.instructions }}</td>
            </tr>
            <tr>
                <th>Pharmacy</th>
                <td>{{ prescription.pharmacy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prescription_index') }}">back to list</a>

    <a href="{{ path('app_prescription_edit', {'id': prescription.id}) }}">edit</a>

    {{ include('prescription/_delete_form.html.twig') }}
{% endblock %}
