{% extends 'dashboard/front.html.twig' %}
{% block body %}

<style>
  .button {
    border-radius: 3px;
    background-color: rgb(120, 162, 245);
    color: white;
    
  }

  .button:hover {
    background-color: white;
    /* Green */
    color: black;
    border: 2px solid rgb(120, 162, 245);
  }

  .button2 {
    border-radius: 3px;
    background-color: rgb(46, 183, 153);
    color: white;
    
  }

  .button2:hover {
    background-color: white;
    /* Green */
    color: black;
    border: 2px solid rgb(46, 183, 153);
  }

  .button3 {
    border-radius: 3px;
    background-color: #f44336;
    color: white;
  }

  .button3:hover {
    background-color: white;
    /* Green */
    color: black;
    border: 2px solid #f44336;
  }
</style>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Users Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_dashbord')}}">Home</a></li>
        <li class="breadcrumb-item">Users</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->
  {% for message in app.flashes('notice') %}
  {%if message=="Your changes were not saved. Please check your current password and try again."%}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% else%}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {%endif%}
  {% endfor %}
  <section class="section">
    <div class="row">


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Default Table</h5>

          <!-- Default Table -->
          <table class="table" id="dataTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">email </th>
                <th scope="col">specialite</th>
                <th scope="col">groupesanguin</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              {%if user.id != 4%}
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.nom}} </td>
                <td>{{user.prenom}}</td>
                <td>{{user.email}}</td>
                <td>{{user.specialite}}</td>
                <td>{{user.groupesanguin}}</td>
                <td>

                  <a href="{{path('app_user_edit', {'id': user.id})}}">
                    <button class="btn button">View</button>
                  </a>
                  {% if user.isBanned %}
                  <a href="{{path('app_user_isBanned', {'id': user.id})}}">
                    <button class="btn button2">Allow</button>
                  </a>
                  {% else %}
                  <a href="{{path('app_user_isBanned', {'id': user.id})}}">
                    <button class="btn button2">Ban</button>
                  </a>
                  {% endif %}
                  <a href="{{path('app_user_delete', {'id': user.id})}}">
                    <button class="btn button3">Delete</button>
                  </a>
                  {% if user.roles == ['ROLE_USER'] %}
                    <a href="{{path('app_user_set_role', {'id': user.id})}}">
                      <button class="btn button2">Medecin</button>
                    </a>
                    {%endif%}
                </td>


              </tr>
              {%endif%}
              {%endfor%}
              {%if users is empty%}
              <tr>
                <td colspan="6" align="center">No users found</td>
              </tr>
              {%endif%}

            </tbody>
          </table>
          <!-- End Default Table Example -->
        </div>
      </div>

      <!--div class="card">
        <div class="card-body">
          <h5 class="card-title">Dark Table</h5>

          <!-- Dark Table >
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td>Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashleigh Langosh</td>
                <td>Finance</td>
                <td>45</td>
                <td>2011-08-12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Angus Grady</td>
                <td>HR</td>
                <td>34</td>
                <td>2012-06-11</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Raheem Lehner</td>
                <td>Dynamic Division Officer</td>
                <td>47</td>
                <td>2011-04-19</td>
              </tr>
            </tbody>
          </table>
          <!-- End Dark Table >

        </div>
      </div>

      <!--div class="card">
        <div class="card-body">
          <h5 class="card-title">Active Table</h5>
          <p>Highlight a table row or cell by adding a <code>.table-active</code> class.</p>
          <!-- Active Table >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td class="table-active">Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashleigh Langosh</td>
                <td>Finance</td>
                <td>45</td>
                <td>2011-08-12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Angus Grady</td>
                <td>HR</td>
                <td>34</td>
                <td class="table-active">2012-06-11</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td class="table-active">Raheem Lehner</td>
                <td>Dynamic Division Officer</td>
                <td>47</td>
                <td>2011-04-19</td>
              </tr>
            </tbody>
          </table>
          <!-- End Active Table >

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tables without borders</h5>
          <p>Add <code>.table-borderless</code> for a table without borders.</p>
          <!-- Active Table >
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td>Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ashleigh Langosh</td>
                <td>Finance</td>
                <td>45</td>
                <td>2011-08-12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Angus Grady</td>
                <td>HR</td>
                <td>34</td>
                <td>2012-06-11</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Raheem Lehner</td>
                <td>Dynamic Division Officer</td>
                <td>47</td>
                <td>2011-04-19</td>
              </tr>
            </tbody>
          </table>
          <!-- End Tables without borders >

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Table Variants</h5>
          <p>Use contextual classes
            <code>.table-primary .table-secondary .table-success .table-danger .table-warning .table-info .table-light .table-dark</code>
            to color tables, table rows or individual cells.</p>
          <!-- Table Variants >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Class</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Default</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>

              <tr class="table-primary">
                <th scope="row">Primary</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-secondary">
                <th scope="row">Secondary</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-success">
                <th scope="row">Success</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">Danger</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">Warning</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-info">
                <th scope="row">Info</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-light">
                <th scope="row">Light</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
              <tr class="table-dark">
                <th scope="row">Dark</th>
                <td>Cell</td>
                <td>Cell</td>
              </tr>
            </tbody>
          </table>
          <!-- End Table Variants >

        </div>
      </div-->

    </div>
  </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables library -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- DataTables Initialization Script -->
<script>
  $(document).ready(function () {
    $('#dataTable').DataTable({
      "initComplete": function (settings, json) {
        // Customize the search input field
        var searchInput = $('#dataTable_filter input[type="search"]');
        searchInput.addClass('form-control');
        searchInput.attr('placeholder', 'Search...'); // Set placeholder text
      }
    });
  });

</script>
{%endblock%}