{% extends 'dashboard/front.html.twig' %}
{% block body %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_dashbord')}}">Home</a></li>
        
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <style>
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    .profile .profile-edit img {
    max-width: 120px;
}
  </style>

  {% for message in app.flashes('notice') %}
  {%if message=="Your changes were not saved. Please check your current password and try again."%}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% else%}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {%endif%}
  {% endfor %}



  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ asset('/uploads/' ~ user.profileImage) }}" alt="Profile" class="rounded-circle">
            <h2>{{user.name}} {{user.lastName}}</h2>
            <h3>Web Designer</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab"
                  data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <!--li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
              </li-->

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                  Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">


                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{user.name}} {{user.lastName}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Gender</div>
                  <div class="col-lg-9 col-md-8">{{user.gender}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Birth day</div>
                  <div class="col-lg-9 col-md-8">{{user.birthday |date('F j, Y')}}</div>
                </div>



                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{user.address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">(216) {{user.phoneNumber}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{user.email}}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row mb-3">
                  {{ form_label(form.profileImage, 'Profile Image', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}}) }}
                  <div class="col-md-8 col-lg-9">
                    
                    {% if app.user.profileImage == null   %}
                        <img src="{{asset('/uploads/user.jpg')}}" alt="Profile"  class="rounded-circle">
                    {% else %}
                        <img src="{{ asset('/uploads/' ~ user.profileImage) }}" alt="Profile"  class="rounded-circle">
                    {% endif %}
                    <div class="pt-2">

                    {{ form_widget(form.profileImage) }}
                  
                      
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.name, 'First Name', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}})}}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.name) %}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.name,{'attr':{'class': 'text-danger'}}) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}}) }}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.lastName) %}
                    {{ form_widget(form.lastName,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.lastName,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.lastName)}}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.gender, 'Gender', {'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}}) }}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.gender) %}
                    {{ form_widget(form.gender,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.gender,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.gender) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.birthDay, 'Birth day', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}}) }}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.birthDay) %}
                    {{ form_widget(form.birthDay,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.birthDay,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red"> {{ form_errors(form.birthDay) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}})
                  }}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.address) %}
                    {{ form_widget(form.address,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.address,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.address) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.phoneNumber, 'Phone Number', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}}) }}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.phoneNumber) %}
                    {{ form_widget(form.phoneNumber,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.phoneNumber,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.phoneNumber) }} </a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(form.email, 'Email', {'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}}) }}

                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(form.email) %}
                    {{ form_widget(form.email,{'attr':{'class': 'form-control is-invalid'}}) }}
                    {% else %}
                    {{ form_widget(form.email,{'attr':{'class': 'form-control'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.email, {'errors_attr': {'class': 'text-danger'}}) }}</a>

                  </div>
                </div>

                <div class="text-center">
                  {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}<!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password"><!-- Change Password Form -->

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row mb-3">
                  {{ form_label(formPassword.currentPassword, 'Current Password', {'label_attr': {'class': 'col-md-4
                  col-lg-3
                  col-form-label'}})}}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(formPassword.currentPassword) %}
                    {{form_widget(formPassword.currentPassword, {'attr': {'class': 'form-control is-invalid'}})}}
                    {% else%}
                    {{form_widget(formPassword.currentPassword, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                    <a style="color:red">{{form_errors(formPassword.currentPassword) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(formPassword.password.first, 'New Password', {'label_attr': {'class': 'col-md-4 col-lg-3
                  col-form-label'}})}}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(formPassword.password.first) %}
                    {{form_widget(formPassword.password.first, {'attr': {'class': 'form-control is-invalid'}})}}
                    {% else%}
                    {{form_widget(formPassword.password.first, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                    <a style="color:red">{{form_errors(formPassword.password.first) }}</a>
                  </div>
                </div>

                <div class="row mb-3">
                  {{ form_label(formPassword.password.second, 'Re-enter New Password', {'label_attr': {'class':
                  'col-md-4 col-lg-3 col-form-label'}})}}
                  <div class="col-md-8 col-lg-9">
                    {% if form_errors(formPassword.password.second) %}
                    {{form_widget(formPassword.password.second, {'attr': {'class': 'form-control is-invalid'}})}}
                    {% else %}
                    {{form_widget(formPassword.password.second, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                    <a style="color:red">{{form_errors(formPassword.password.first) }}</a>
                  </div>
                </div>

                <div class="text-center">
                  {{form_widget(formPassword.submit)}}
                </div>
                {{form_end(formPassword)}}<!-- End Change Password Form -->

              </div>
            </div><!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

{% endblock %}