{% block body %}
    {{ form_start(form) }}

    <div class="mb-3">
        <label for="{{ form.idMedecin.vars.id }}" class="form-label">ID Médecin</label>
        {{ form_widget(form.idMedecin, {'attr': {'class': 'form-control'}, 'required': true}) }}
        {{ form_errors(form.idMedecin) }}
    </div>

    <div class="mb-3">
        <label for="{{ form.jourFeries.vars.id }}" class="form-label">jours Feries</label>
        {{ form_widget(form.jourFeries, {'attr': {'class': 'form-control'}, 'required': true}) }}
        {{ form_errors(form.jourFeries) }}
    </div>

    <div class="mb-3">
        <label for="{{ form.infos.vars.id }}" class="form-label">infos</label>
        {{ form_widget(form.infos, {'attr': {'class': 'form-control infospicker'}, 'required': true}) }}
        {{ form_errors(form.infos) }}
    </div>

    

    <div class="mb-3">
        <label for="{{ form.disponibilite.vars.id }}" class="form-label">Disponibilite</label>
        {{ form_widget(form.disponibilite, {'attr': {'class': 'form-control '}, 'required': true}) }}
        {{ form_errors(form.disponibilite) }}
    </div>

    <div class="mb-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ path('calendrier_index') }}" class="btn btn-secondary me-md-2">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
            <button type="submit" class="btn btn-primary">{{ button_label }}</button>
        </div>
    </div>

    {{ form_end(form) }}
    {% endblock %}
<script>
  function showAlert(inputField, alertId) {
    let alertElement = document.getElementById(alertId);
    let inputValue = inputField.value;
    let isValid = inputField.checkValidity();
    if (isValid) {
      alertElement.style.display = 'none';
      inputField.classList.add('is-valid');
      inputField.classList.remove('is-invalid');
    } else {
      alertElement.style.display = 'block';
      inputField.classList.add('is-invalid');
      inputField.classList.remove('is-valid');
    }
  }
</script>
