{% extends 'home.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-center">User Details</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="bg-primary text-white">ID:</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th class="bg-primary text-white">Nom:</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th class="bg-primary text-white">Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="bg-primary text-white">Roles:</th>
                    <td>{{ user.roles ? user.roles|join(', ') : 'No roles' }}</td>
                </tr>
                <tr>
                    <th class="bg-primary text-white">Specialite:</th>
                    <td>{{ user.specialite }}</td>
                </tr>
                <!-- Ajoutez d'autres attributs ici selon vos besoins -->
            </tbody>
        </table>

        <a href="{{ path('app_user_index') }}" class="btn btn-primary">Back to User List</a>
    </div>
{% endblock %}
